/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-4-25, 14:02:23
    Author     : lenovo
*/
.register_content{
    width: 500px;
    margin: 0 auto;
    height: 600px;
/*    background-color: #ccc;*/
padding-top: 50px;
}
.register_content .register_head{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ff4646;
    border-radius: 15px 15px 0px 0px;
    padding-left: 20px;
    color: #fff;
    font-size: 2rem;
}
.register_content_body{
    width: 100%;
    height: 340px;
/*    background-color: #dbe7f1;*/
    border-radius:  0px 0px 15px 15px;
    box-shadow: #ccc 15px 15px 15px;
    border: 1px solid #ccc;
    border-top: none;
}
.register_input{
    width: 100%;
    padding: 9px 9px 9px 10px;
    background-color: #fff;
    border-color: #d0d6d9;
    box-shadow: 2px 0 5px 0 #fff; 
}
.register_content_box{
    width: 70%;
    margin: 20px auto;
}
.phone_code{
   padding: 10px 20px;
   background-color: #ff4646;
   position: absolute;
   right: 0;
   color: #fff;
    
}
.register_button{
/*   padding: 10px 20px;*/
   background-color: #ff4646;
   color: #fff;
   display: block;
   width: 100%;
   height: 50px;
   line-height: 50px;
   text-align: center;
   border-radius: 4px;
   font-size: 2rem;
}

